.meus-pets-container {
  min-height: 100vh;
  background: #fff7ec; /* bege igual Home */
  padding: 25px;
  padding-bottom: 80px;
  font-family: "Poppins", sans-serif;
}

/* Botão Voltar */
.voltar-pets {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: #f4a300;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: 500;
}

/* Título */
.pets-title {
  font-size: 28px;
  font-weight: 700;
  color: #3d2c2c;
  display: flex;
  align-items: center;
  gap: 8px;
}

.pets-icon {
  color: #ffb84c;; /* lilás suave como o botão flutuante */
}

/* Grade 2 colunas */
.pets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  margin-top: 25px;
  gap: 18px;
}

/* Card */
.pet-card {
  background: white;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.07);
  cursor: pointer;
  transition: 0.2s;
}

.pet-card:hover {
  transform: translateY(-3px);
}

/* Foto */
.pet-img {
  width: 100%;
  height: 120px;
  border-radius: 15px;
  object-fit: cover;
}

/* Infos */
.pet-info h2 {
  margin: 8px 0 2px;
  font-size: 17px;
  font-weight: 700;
}

.pet-info p {
  margin: 0;
  font-size: 13px;
  color: #7b6f6b;
}

/* Botão flutuante */
.add-pet-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background: #e9b361;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
  cursor: pointer;
  transition: 0.2s ease;
}

.add-pet-btn:hover {
  background: #ffb84c;
}
